# Recordings and edits
*.mp4
!3sperms.mp4
*.gif
!3sperms.gif
*.mkv
*.llc

mp4/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/

# macOS
.DS_Store

# Editor / IDE
.idea/
.vscode/
